## Homework #1

In [1]:
import pandas as pd
import numpy as np

Question 1: Version of NumPy

In [2]:
np.__version__

'1.22.4'

Question 2: Number of records in the dataset

In [3]:
df = pd.read_csv('data.csv')

In [10]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
df.shape

(11914, 16)

Question 3: The most popular car manufacturers

In [35]:
df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

Question 4: Number of unique Audi car models

In [17]:
len(df[df['Make'] == 'Audi']['Model'].value_counts().index)

34

Question 5: Number of columns with missing values

In [22]:
sum(df.isna().sum() != 0)

5

Question 6
- Find the median value of "Engine Cylinders" column in the dataset.
- Next, calculate the most frequent value of the same "Engine Cylinders".
- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
- Now, calculate the median value of "Engine Cylinders" once again.

In [27]:
df['Engine Cylinders'].median()

6.0

In [33]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()).median()

6.0

Question 7
- Select all the "Lotus" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [46]:
df_lotus = df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']]
df_lotus.drop_duplicates(inplace = True)
X = np.array(df_lotus)
XTX = np.dot(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

w = np.dot(np.dot(XTX_inv, X.T), y)
w[0]

4.594944810094551